@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
    box-sizing: border-box;
}
:root {
    --color-blue: #4A6B86;
    --color-yellow: #ebd91b;
    --color-black: #333333;
    --width-break: 600px;
}

h1 {
    font-size: 2rem;
    padding: 1rem;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Gloria Hallelujah', cursive;
    color: var(--color-black);
}

nav {
    background-color: var(--color-yellow);
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}
button {
    display: block;
    background-color: var(--color-blue);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: large;
}

#output {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow:scroll;
    border: 1px solid var(--color-black);
    padding: 1rem; 
    font-size: large;
}

footer {
    width: 100%;
    padding: 1rem;
    background-color: var(--color-yellow);
    text-align: center;
}

footer div {
    font-size: x-large;
}

footer p {
    max-width: 60%;
    margin: auto;
}